body {
    padding-top: 115px;
    padding-bottom: 20px;
    background-color:#eeeeee
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
    background: #a7cfdf; /* Old browsers */
    background: -moz-linear-gradient(left, #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 */
/*    background-color: #869ec2;*/
    border-color: #000000;
}

.navbar-inverse .navbar-brand {
    color: #000000;
}

.navbar-inverse .navbar-nav > li > a {
        color: #000000;
    }

.navbar {
    padding-top: 25px;
    min-height: 100px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.jumbotron {
    background-color: #ffffff;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 30px;
}

html {
    position: relative;
    min-height: 100%;
}

.btn-primary {
    color: #ffffff;
    background-color: #81a0bc;
    border-color: #7a92a5;
}